{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css'%}" />
{% endblock head %}

{% block content %}
<main class="auth-container">
  <h2>비밀번호 변경</h2>
  <div class="login-box">
    <form id="pwd_change_form" action="/user/change_password/" method="post">
      {% csrf_token %}
      <label for="id_input">기존 비밀번호</label>
      <input class="myInput" type="password" name="password_before" required />
      <label for="password_input">새 비밀번호</label>
      <div class="with-error">
        <input class="myInput"id="pwd1" name="new_password" type="password" required />
        <div id="pwdc1"></div>
      </div>
      <label for="password_input">새 비밀번호 확인</label>
      <div class="with-error">
        <input class="myInput"id="pwd2" name="new_password_confirm" type="password" required />
        <div id="pwdc2"></div>
      </div>
      <input type="button" class="myBtn" name="update" value="변경하기" onclick="validation()" />
    </form>
    <div class="home mobile"><a href="/">메인으로</a></div>
  </div>
</main>
{% endblock content %}

{% block script %}
<script>
  let pwd_check = false;
  let pwd_check2 = false;
  document.getElementById("pwd1").addEventListener("focusout", function () {
    let u_RegExp = new RegExp(/^[a-zA-Z0-9]{5,20}$/); // pwassword 유효성 검사 정규식 : 5~20자의 영문 대소문자와 숫자

    let msg = "";
    let val = this.value;

    if (!u_RegExp.test(val)) {
      //비밀번호 유효성검사
      msg = "5~20자의 영문 대소문자, 숫자로 입력해주십시오.";
      pwd_check = false;
    } else {
      msg = "";
      pwd_check = true;
    }
    document.getElementById("pwdc1").textContent = msg;
  });

  document.getElementById("pwd2").addEventListener("focusout", function () {
    let msg = "";
    let val = this.value;

    if (document.getElementById("pwd1").value != document.getElementById("pwd2").value) {
      //두 비밀번호 같은지 검사
      msg = "새로 입력한 두 비밀번호가 다릅니다.";
      pwd_check2 = false;
    } else {
      msg = "";
      pwd_check2 = true;
    }
    document.getElementById("pwdc2").textContent = msg;
  });

  function validation() {
    if (!pwd_check) {
      alert("올바른 비밀번호 형식이 아닙니다.");
      return false;
    }
    if (!pwd_check2) {
      alert("새로 입력한 두 비밀번호가 다릅니다.");
      return false;
    }
    document.getElementById("pwd_change_form").submit();
  }
</script>
{% endblock script %}